{% extends 'base.html' %} 
{% load static %} 

{% block title %} eat-wise-login {% endblock title %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static 'users/registration.css' %}">
{% endblock css_files %}

{% block content %}
<div class="container">

  <!-- Display General Errors (e.g., incorrect login) -->
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <form action="{% url 'users:login-page' %}" method="POST">
    {% csrf_token %}  

    {% for field in form %}  
    <div class="formDiv">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>  
      {{ field }}
      <div class="error-message">{{ field.errors }}</div>  
    </div>  
    {% endfor %}

    <button type="submit" class="registerbtn">Login</button>  
    <p>Don't have an account? Register <a href="{% url 'users:registration-page' %}">here</a></p>
  </form>
</div>
{% endblock content %}
