{% extends 'base.html' %}
{% load static %}

{% block title %} eatwise-recipe-page {% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'eatwise_app/recipes.css' %}">
{% endblock css_files %}
</head>

{% block content %}

   <main>
        <div class="container">
            <div class="dropdown">
                <label for="diet-filter">Dietary filter:</label>
                <select id="diet-filter">
                    <option value="">Select</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="vegan">Vegan</option>
                    <option value="gluten-free">Gluten-Free</option>
                </select>
            </div>

            <h2>Latest recipes</h2>
            <div class="card"></div>

            <h2>Most popular recipes</h2>
            <div class="card"></div>
        </div>
    </main>
{% endblock content %}    